*{
   margin: 0;
   padding: 0;
}
.cabecalho{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 201, 252);
}
.cartao {
   width: 260px;
   height: 200px;
}
.cartao.imagem{ 
    width: 100%;
}
ody{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
}
.cabecalho-link{
    color:rgb(159, 208, 241);
    text-decoration: none;
}
h1{
    color:black;
}